<div class="card ">
    <div class="card-body text-center">
        <h5 class="card-title fs-3">
            <%= contact.nama %>
        </h5>
        <h6 class="card-subtitle mb-2 fs-5 text-muted">
            <%= contact.kelas %>
        </h6>
        <h6 class="card-subtitle mb-4 text-muted">
            <%= contact.noHP %>
        </h6>
        <p class="card-text">
            <%= contact.alamat %>
        </p>
        <a href="/contact" class="card-link">&laquo; Kembali ke halaman contact</a>
    </div>
</div>