<div class="bg-dark">
    <ul class="nav justify-content-end py-3">
        <li class="nav-item">
            <a class="nav-link link-light" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="/jsonapi">Data</a>
        </li>
    </ul>
</div>